/*************************************************
    RESET STYLES
 *************************************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ticket-table{
    display: none;
}

.active{
    display: block;
}